 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    font-family: Poppins;
 }
 h1 {
    margin-top: 47px;
     text-align: center;
 }
 .container, .added{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .added{
    margin-top: 15px;
    align-items: center;
    margin-right: 40px;
 }

 .container input {
    margin-right: 30px;
    border-radius: 3px;
    padding: 7px;
    font-size: 15px;
 }

 .added p{
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 3px;
    font-size: 15px;
 }

 
 .container button{
    border-radius: 7px;
    font-size: 15px;
    width: 75px;
    height: 45px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-color: green;
 }

 .added button{
    margin-left: 35px;
    border-radius: 7px;
    font-size: 15px;
    width: 75px;
    height: 45px;
    cursor: pointer;
    background-color: brown;
    color: white;
 }
 
 #date{
    padding-left: 20px;
    margin-right: 45px;
 }
 #task{
    width : 200px;
 }